# The port the API will run on
PORT=3000

# Connection string for the Docker PostgreSQL container
# Format: postgresql://DB_USER:DB_PASSWORD@localhost:5432/DB_NAME
DATABASE_URL="postgresql://user:password@localhost:5432/titanbay_db?schema=public"
